# .NET
bin/
obj/
PhacerApi/bin/
PhacerApi/obj/
*.user
*.suo
.vs/
*.log

# Angular
PhacerWeb/node_modules/
PhacerWeb/dist/
PhacerWeb/.angular/

# IDE
.idea/
*.swp
*.swo
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.local
